<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="{{ site.baseurl }}" class="btn">На главную</a>  
  
  <a href="/portfolio/" class="btn">Портфолио</a>  
  <a href="https://github.com/tepikin?tab=repositories" class="btn">GitHub</a>
  <a href="/contacts/" class="btn">Контакты</a>
  
  <!--
  <a href="#" class="btn">{{ site.baseurl }}</a>
  <a href="#" class="btn">Download .zip</a>
  <a href="#" class="btn">Download .tar.gz</a>
  -->
</section>
